::placeholder {
  color: #aaa;
}

#descricao {
  white-space: pre-wrap;
}

main {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;
  }
  
div {
  margin: 0 auto;
  display: grid;
  text-align: center;
  padding: 1em;
  width: 400px;
}

header, 
footer {
  background-color: #333;
}

body {
  background-color: #f4f4f4;
}

button {
  background-color: #0074d9;
}